* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
}


.container {
    display: flex;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.left, .right {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 50%;
}

.description {

    padding: 20px 22px;
   
}

@keyframes colorChange {
    0% { color: rgb(168, 163, 163); }
    25% { color: rgb(236, 236, 8); }
    50% { color: rgb(243, 238, 243); }
    75% { color: rgb(65, 58, 58); }
    100% { color: rgb(215, 233, 112); }
}

.title {
    animation: colorChange 5s linear infinite;
    padding-left:22px;
}

.courses{

    white-space: pre;  
}

a {
text-decoration: none;
color: rgb(168, 163, 163);
}

a:hover {
    color: rgb(255, 255, 255);
}


.info-button-container {
    position: absolute;
    bottom: 10px; 
    left: 23px;
    z-index: 2;
}

.info-button {
    background-color: #e2e3e4;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.info-button:hover {
    background-color: white;
}

.info-content {
    display: none;
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 220px;
    font-size: 13px;
}



@media only screen and (max-width: 1052px) {


    .container {
        display: flex;
        flex-direction: column;
    }
    

    .left {
    
        width: 100%!important;
    }

    .right {

        width: 100%!important;

    }

    .left {
        height: 25vh;
    }
    
    .courses{

        white-space: pre; 
        position: relative; 
        right: 103px;
    }

    .description {
        padding: 20px 49px;
    }

    .title {
        padding-left: 52px;
    }

    .info-button-container {
        
        left: 49px;
       
    }

}


@media only screen and (max-width: 421px) {

    .container {
        display: flex;
        flex-direction: column;
        right: 33px;
        position: relative;
    }

    .info-button-container {
        
        left: 18px;
       
    }

    
}