/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
	margin: 0;
	height: 100%;
	background: rgb(243, 241, 241);
	overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

.home {

    overflow-x: hidden;
    overflow-y: scroll;

}

.main {
	height: 105vh;
    width: 835px;
    position: relative;
    right: 115px;
}

.description {
    position: relative;
    top: 18px;
    white-space: pre-line;
    right: 98px;
}

iframe {
	border-radius: 3px;
	box-shadow: 1px 1px 4px rgb(178, 179, 177);
}

/* displays */

.container-fluid {
    width: 100%;
    display: flex;
}

.col-md-3 {
    width: 15%;
}

.col-md-9 {
    width: 85%;
    display: flex;
    justify-content: end;
    margin-right: 48px;
}


/* Tabs*/
.Tabs {
    margin-left: 0px;
    width: 15%; 
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0 21px;
    position: fixed;
    top:180px;
}

li a {
	padding: 15px;
    color: black;
    border: 1px solid black;
	border-radius: 8px;
	box-shadow: 1px 1px 4px rgb(178, 179, 177);
	border-style: outset;
    text-align: left;
    display: block;
    text-decoration: none;    
}

li a:hover {
	background-color: rgb(131, 184, 245);
}


.name {
    line-height: 1.7em;
    letter-spacing: 3px;
    white-space: pre;
    position: relative;
    top: 174px;
    right: 156px;
}

small{
    line-height: -0.5em;
}


@media only screen and (max-width: 768px) {
    .container-fluid {
        display: block;
    }

    .main {
        position: unset!important;
    }

    .description {
        width: 88%;
        right: 14px;
        top: -14px;
        position: relative!important;
    }

    .Tabs {
        margin-left: 0px;
        width: 100%; 
    }

    ul {
        position: unset!important;
    }

    .col-md-3 {
        width: 100%;
    }
    
    .col-md-9 {
        width: 100%;
        margin-top: 20px;
    }

    .w-100 {
        width: 100%;
    }

    .name {
        position: relative;
        top: -44px;
        right: 57px
    }

    .Projects{
        width: 100%;
        position: relative;
        right: 8px;
    }

    
} 