
body {
	margin: 0;
    padding: 0;
	height: 100%;
	overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;  
}


.container-fluid {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    margin: 0; 
    padding: 0; 
}

.col-md-3 {
    width: 25%;
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

.w-100 {
    position: fixed;
}

.col-md-9 {
    width: 75%;
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    
}

.main {
	height: 105vh;
    width: 835px;
}

.Description {
    white-space: pre;
    position: relative;
    top: 30px;
    left: 35px;
}


iframe {
    border-radius: 3px;
    width: 100%;
    height: 95%;
    position: relative;
    top: 0px;
    left: 38px; 
}

/* Nav */

/* .Tabs {
    display: flex;
    align-items: flex-start;
} */

ul {
    list-style-type: none;
    position: relative;
    top: 18px;
    right: 53px;
}

li a {
    padding: 4px;
    color: black;
    display: block;
    text-decoration: none;
    font-size: 40px;
    text-align: right;
    position: relative;
}
  
li a span {
    display: inline-block;
    position: relative; 
    border: 3px dashed transparent; 
    padding: 3px;
}
  
li a span:hover,
li a span.selected {
    border: 3px dashed rgb(18, 67, 114);
    padding: 3px;
    color: rgb(127, 178, 224);
}

.info {
    font-size:18px ;
    text-align: right;
    white-space: pre;
    line-height: 1.65;
    position: relative;
    top: 35px;
    right:70px;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 49px;
    max-width: 40%;
    max-height: 80%;
    overflow-y: auto;
    top: 205px;
    left: 208px;
    position: relative;
}

.close {
    position: absolute;
    top: 23px;
    right: 36px;
    font-size: 20px;
    cursor: pointer;
    color:#3498db;
}

/* Additional styles for student details */
#studentDetails {
    padding: 20px;
}


.name-cloud {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 64px;
    left: 240px;
    position: relative;
}

.name-row {
    display: flex;
    gap:30px;
    margin-bottom: 20px; 
}


.name {
    background-color: rgb(18, 67, 114);
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    width: calc(50% - 177px); 
    box-sizing: border-box; 
    transition: background-color 0.3s;
    text-align: center;
    
}

.name:hover {
    background-color: #3498db;
}


.student-details-color {
    color: rgb(18, 67, 114); 
}


@media (min-width: 768px) {
    .order-md-last {
      order: 1;
    }
}

@media only screen and (max-width: 768px) {

body {
    overflow-y: visible;
    overflow-x: hidden;
}
    
    
.container-fluid {
    display: block;
}


.col-md-3 {
    width: 100%;
}
    
.col-md-9 {
    width: 100%;
    margin-top: 20px;
}

.w-100 {
    width: 100%;
    position: unset;
    display: flex;
    flex-direction: row;
    gap: 48px;
    white-space: pre-line!important;
}

iframe {
    width: 46%;
    top: 0px;
    Left: 2px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgb(178, 179, 177);
}

.Description {
    white-space: pre-line;
    top: -11px;
    left: 21px;
    font-size: 10px;
}

ul {
    position: relative;
    top: 18px;
    right: 29px;  
    line-height: 0!important;
}
    

li a {
        
text-align: left;
font-size: 15px;
        
}

li a span {
   
    padding: 9px!important;
}
  
li a span:hover,
li a span.selected {
    padding: 9px!important;
    
}

    
.info {
    text-align: left;
    top: 29.5px;
    right: 47px;
    font-size: 12px;
    line-height: 1.2!important;
}


.modal-content {
   
    padding: 6px;
    overflow-y: auto;
    top: 379px;
    left: 15px;
    
}


.name-cloud {
   
    top: 8px;
    left: 17px;
}

.name-row {
    
    gap: 22px;
    margin-bottom: 24px;
}

.name {
   
    width: calc(50% - 254px);
   
}



}